//! **************************************************************************
// Written by: Map K.39 on Fri Mar 21 14:26:14 2014
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "P185" LEVEL 1;
COMP "RST" LOCATE = SITE "P41" LEVEL 1;
COMP "IO_OUTPUT_PORT<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "IO_OUTPUT_PORT<1>" LOCATE = SITE "P46" LEVEL 1;
COMP "IO_OUTPUT_PORT<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "IO_OUTPUT_PORT<3>" LOCATE = SITE "P57" LEVEL 1;
COMP "IO_OUTPUT_PORT<4>" LOCATE = SITE "P59" LEVEL 1;
COMP "IO_OUTPUT_PORT<5>" LOCATE = SITE "P61" LEVEL 1;
COMP "IO_OUTPUT_PORT<6>" LOCATE = SITE "P63" LEVEL 1;
COMP "IO_OUTPUT_PORT<7>" LOCATE = SITE "P68" LEVEL 1;
COMP "IO_INPUT_PORT<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "IO_INPUT_PORT<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "IO_INPUT_PORT<2>" LOCATE = SITE "P21" LEVEL 1;
COMP "IO_INPUT_PORT<3>" LOCATE = SITE "P23" LEVEL 1;
COMP "IO_INPUT_PORT<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "IO_INPUT_PORT<5>" LOCATE = SITE "P30" LEVEL 1;
COMP "IO_INPUT_PORT<6>" LOCATE = SITE "P33" LEVEL 1;
COMP "IO_INPUT_PORT<7>" LOCATE = SITE "P35" LEVEL 1;
SCHEMATIC END;

